@font-face {
  font-family: "iconfont"; /* Project id 1989952 */
  src: url('../fonts/iconfont.woff2?t=1625193764158') format('woff2'),
       url('../fonts/iconfont.woff?t=1625193764158') format('woff'),
       url('../fonts/iconfont.ttf?t=1625193764158') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zengzhifuwu-shenqingfucheng:before {
  content: "\e61a";
}

.icon-shangliao:before {
  content: "\e8e6";
}

.icon-tuiliao1:before {
  content: "\e6ca";
}

.icon-zhuandan:before {
  content: "\e704";
}

.icon-yuanliaoruku:before {
  content: "\e64b";
}

.icon-zhinengbanhe:before {
  content: "\e66b";
}

.icon-yuancailiao:before {
  content: "\e669";
}

.icon-iconset0329:before {
  content: "\e6e4";
}

.icon-ziyuanxhdpi:before {
  content: "\e632";
}

.icon-zhijiandan_huaban:before {
  content: "\e611";
}

.icon-tree-round-currency:before {
  content: "\e64d";
}

.icon-chaifen:before {
  content: "\e7ae";
}

.icon-tuiliao:before {
  content: "\e676";
}

.icon-chushuikou-orange:before {
  content: "\e603";
}

.icon-402050:before {
  content: "\e61d";
}

.icon-dayinshezhi:before {
  content: "\e631";
}

.icon-zuofei:before {
  content: "\e628";
}

.icon-zidingyidayin:before {
  content: "\e748";
}

.icon-shaolumoshi:before {
  content: "\e654";
}

.icon-circuitboard:before {
  content: "\e659";
}

.icon-youtiepian:before {
  content: "\e645";
}

.icon-dayin:before {
  content: "\e602";
}

.icon-gongxu:before {
  content: "\e71c";
}

.icon-wangong:before {
  content: "\e601";
}

.icon-banci1:before {
  content: "\e64e";
}

.icon-zhusuji:before {
  content: "\e867";
}

.icon-tuichu2:before {
  content: "\e600";
}

.icon-gonghao:before {
  content: "\e713";
}

.icon-banci:before {
  content: "\e61b";
}

.icon-dabiao:before {
  content: "\e7c8";
}

.icon-saomiao:before {
  content: "\e653";
}

.icon-shuliang:before {
  content: "\e63d";
}

.icon-lingban:before {
  content: "\e61c";
}

.icon-ziyuan87:before {
  content: "\e644";
}

.icon-siyinUVbaogong:before {
  content: "\e614";
}

