<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/jquery-1.11.1.js"></script>
		<script src="../js/jquery.xml2json.js.js"></script>
		<script src="../js/template-web.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/comment.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav  mui-bar-transparent colorBg">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="title">机台产出信息</h1>
			<a class="mui-pull-right"><span class="title-right" id="usr"></span></a>
		</header>
		<div class="mui-content">
			<div class="mui-row">
				<table width="100%" class="table" id="tablevalue">
					<thead>
						<tr>
							<!-- <th>线体名称</th> -->
							<th>机器名</th>
							<th>时间</th>
							<th>班次</th>
							<th>品号</th>
							<th>工序名</th>
							<th>点数</th>
							<th>产出数</th>
							<th>连板数</th>
						</tr>
					</thead>
					<tbody id="list">
					</tbody>
				</table>
			</div>
		</div>
		<script id='tr-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>		
								<tr>
									<!-- <td width='5%'><%=(item.线体)%></td> -->
									<!-- <td><%=(item.线体名称)%></td> -->
									<td><%=(item.机器名)%></td>								
									<td><%=(item.时间)%></td>
									<td><%=(item.班次)%></td>
									<td><%=(item.品号)%></td>
									<td><%=(item.工序名)%></td>
									<td><%=(item.点数)%></td>	
									<td><%=(item.产出数)%></td>
									<td><%=(item.连板数)%></td>
								</tr>				
						<% } %>
					</script>
		<script src="js/mui.js"></script>
		<script type="text/javascript">
			mui.init({
				beforeback: function() {//页面返回时触发
					var list = plus.webview.currentWebview().opener();
					mui.fire(list, 'refresh'); //refresh是A页面自定义事件
					return true; //返回true,继续页面关闭逻辑
				}
			});
			mui.plusReady(function() {
				byId("usr").innerHTML = setUsrCode();
				var param = plus.webview.currentWebview(); //获取父页面传递过来的参数
				var line_code = param.line_code;
				getMachProductionInfoByClass(line_code);
			});

			function getMachProductionInfoByClass(line_code) {
				jQueryWeb("SMT_Get_MachProductionInfoByClass", {
					"Line_Code": line_code
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						var data = json_obj.diffgram.NewDataSet;
						//console.log(JSON.stringify(data.Table));
						if(data!=undefined){
						var listData = [];
						if(JSON.stringify(data.Table).toString().substring(0,1) == '{'){
							listData = [data.Table]
						}else{
							listData = data.Table
						}
						document.getElementById('list').innerHTML = template('tr-template', {
							"record": listData
						});
						}else{
							mui.alert("无产出信息数据");
						}
					} else {
						mui.alert("SMT_Get_MachProductionInfoByClass 连接失败");
					}
				});
			}
		</script>
	</body>
</html>
