<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/template-web.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/jquery-1.11.1.js"></script>
		<script src="../js/jquery.xml2json.js.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<style type="text/css">
			.select-dialog {
				position: fixed;
				margin-top: 1.25rem;
				z-index: 999;
			}

			.record-dialog {
				position: fixed;
				margin-top: 0.85rem;
				z-index: 999;
			}

			.result-dialog {
				position: fixed;
				margin-top: 0.85rem;
				z-index: 999;
			}

			.dialog-label {
				font-size: 16px;
			}

			.dialog-li {
				font-size: 11px;
				text-align: center;
			}

			.add-dialog {
				position: fixed;
				margin-top: 1.25rem;
				z-index: 999;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">丝印报工</h1>
		</header>
		<dialog id="selectDialog" class="select-dialog" style="width: 90%;">
			<p style="font-size: 16px;color: #000000;margin:0 auto;width:70px"><span>查询记录</span></p>
			<br>
			<form id="selectDateFrom">
				<div class="mui-input-group">
					<div class="mui-input-row">
						<label class="dialog-label">时间：</label>
						<input type="text" name="se_time" class="mui-input-clear" id="selecttime" placeholder="点击选择时间">
					</div>
					<div class="mui-input-row">
						<label class="dialog-label">工单：</label>
						<input name="se_order" type="text" class="mui-input-clear" id="selet_order">
					</div>
					<div class="mui-input-row">
						<label class="dialog-label">条码：</label>
						<input name="se_code" type="text" class="mui-input-clear" id="select_code">
					</div>
					<div class="mui-input-row">
						<label class="dialog-label">账号：</label>
						<input name="se_usr" type="text" class="mui-input-clear" id="select_usr">
					</div>
				</div>
				<div class="mui-button-row">
					<button type="button" id="search_record" style="width: 45%;float: left;" class="mui-btn mui-btn-primary">确认</button>
					<button type="reset" class="mui-btn mui-btn-danger" style="width: 45%;" onclick="closeSelectDialog()">取消</button>
				</div>
			</form>
		</dialog>
		<dialog id="resultDialog" class="result-dialog" style="width: 99%;height: 500px; overflow:auto;">
			<p style="font-size: 16px;color: #000000;margin:0 auto;width:70px"><span>查询结果</span></p>
			<br>
			<div id="resultlist">

			</div>
			<script id='result-template' type="text/template">
				<% for(var i in record){ var item=record[i];%>
				<div class="mui-card">
				<div class="mui-card-header">
				条码:<%=(item.条码)%> 
				</div>
				<div class="mui-card-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<span class="mui-media-object mui-pull-left mui-icon iconfont" style="color: #ADD8E6;font-size:1.875rem"></span>
								<div class="mui-media-body">
									<span>工单： <%=(item.工单)%></span><br>
									<span>时间： <%=(item.时间)%></span><br>
									<span>线体： <%=(item.线体)%></span><br>
									<span>箱类： <%=(item.箱类)%></span><br>
									<span>操作人： <%=(item.操作人)%></span>
								</div>
							</a>
						</li>
					</ul>
					<div class="mui-card-footer">
						<span></span>
						<span><button onclick="reprintRecord('<%=(item)%>')" class="mui-btn-green">重新打印</button></span>
					</div>
				</div>
				</div>
				<%}%>
			</script>
			<div class="mui-button-row">
				<button type="reset" class="mui-btn mui-btn-danger" onclick="document.getElementById('resultDialog').style.display = 'none';">关闭</button>
			</div>
		</dialog>
		<dialog id="siyinRecordDialog" class="record-dialog" style="width: 99%;height: 350px; overflow:auto;">
			<p style="font-size: 16px;color: #000000;margin:0 auto;width:70px"><span>丝印记录</span></p>
			<button style="margin-top: 0.525rem;" type="button" class="mui-btn mui-btn-primary" id="addrecord">添加</button>
			<div id="operator_list">
			</div>
			<script id='template' type="text/template">
				<% for(var i in record){ var item=record[i];%>
			<div class="mui-card" >
				<div class="mui-card-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<span></span>
								<div class="mui-media-body">
									<span>丝印网数：<%=(item.net)%></span><br>
									<span>丝印数量：<%=(item.quantity)%></span><br>
									<span>丝印人员:<%=(item.siyin_pl)%></span><br>
									<span>质检人员:<%=(item.iqc_pl)%></span>
								</div>
							</a>
						</li>
					</ul>
					<div class="mui-card-footer">
						<span></span>
						<span><button onclick="deleteItem(<%=(i)%>)" class="mui-btn-warning">删除</button></span>
					</div>
				</div>
			</div>
			<%}%>
			</script>
			<div class="mui-button-row">
				<button type="reset" class="mui-btn mui-btn-danger" onclick="closeSiyinRecordDialog()">关闭</button>
			</div>
		</dialog>
		<dialog id="addOperatorDialog" class="add-dialog" style="width: 95%;">
			<p style="font-size: 16px;color: #000000;margin:0 auto;width:100px"><span>添加丝印人员</span></p>
			<br>
			<form id="addRecordFrom">
				<div class="mui-input-group">
					<div class="mui-input-row">
						<label style="font-size: 12px;">丝印网数：</label>
						<a class="mui-navigate-right">
							<span class="mui-badge1">
								<select class="mui-h5" style="margin:auto; color:#000;" id="siyin_nets">

								</select>
							</span>
						</a>
					</div>
					<div class="mui-input-row">
						<label style="font-size: 12px;">丝印数量：</label>
						<input id="siyin_quantity" type="text" class="mui-input-clear" placeholder="必为整数,且大于0" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
					</div>
					<div class="mui-input-row">
						<label style="font-size: 12px;" onclick="clicked('commom/saomiao.html','siyin_pl','web/siyin_baogong.html');">丝印员工号:</label>
						<input id="siyin_pl" placeholder="输入后按回车验证" type="text" class="mui-input-clear">
					</div>
					<div class="mui-input-row">
						<label style="font-size: 12px;" onclick="clicked('commom/saomiao.html','iqc_pl','web/siyinu_baogong.html');">质检员工号:</label>
						<input id="iqc_pl" placeholder="输入后按回车验证" type="text" class="mui-input-clear">
					</div>
				</div>
				<div class="mui-button-row">
					<button type="button" id="addoperator" style="width: 45%;float: left;" class="mui-btn mui-btn-primary">确认</button>
					<button type="reset" class="mui-btn mui-btn-danger" style="width: 45%;" onclick="closeAddOperatorDialog()">取消</button>
				</div>
			</form>
		</dialog>
		<dialog id="procesDialog" class="result-dialog" style="width: 99%; padding: 5px 2px 5px 0px;">
			<p style="font-size: 14px;color: #000000;margin:0 auto;width:70px"><span>工序查看</span></p>
			<div>
				<ul class="mui-table-view mui-row" id="pro_list">
					<script id='pr-template' type="text/template">
						<% for(var i in record){ var item=record[i];%>
						      <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3 dialog-li">
						      	<%=item.序号%>
						      </li>
						      <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3 dialog-li">
						      	<%=item.工序%>
						      </li>
						      <li class="mui-table-view-cell  mui-col-sm-3 mui-col-xs-3 dialog-li">
						      	<%=item.标准人力%>
						      </li>
						      <li class="mui-table-view-cell  mui-col-sm-3 mui-col-xs-3 dialog-li">
						      	<%=item.标准时产%>
						      </li>
						      <%}%>
						      </script>
				</ul>
			</div>
			<div class="mui-button-row">
				<button type="reset" style="width: 80%;margin-top: 5px;" class="mui-btn mui-btn-danger" onclick="document.getElementById('procesDialog').style.display = 'none';">关闭</button>
			</div>
		</dialog>
		<div class="mui-content" id="divid">
			<form class="mui-input-group" id="formId">
				<div class="mui-input-row">
					<label>班次</label>
					<span class="radio_inline mui-radio">
						<input name="radio1" type="radio" id="A" checked value="A">
						<label for="A">A</label>
						<input name="radio1" type="radio" id="B" value="B">
						<label for="B">B</label>
					</span>
				</div>
				<div class="mui-input-row">
					<label onclick="clicked('commom/saomiao.html','line_code','web/siyinu_baogong.html');">线体编码</label>
					<input id="line_code" placeholder="请扫描" type="text" class="mui-input-clear" style="width: 35%;float: left;">
					<input disabled type="text" class="mui-input-clear" style="width: 30%;background-color: #F5F5F5;">
				</div>
				<div class="mui-input-row">
					<label onclick="clicked('commom/saomiao.html','order','web/tieguozai_baogong.html');"></span>工单</label>
					<input id="order" placeholder="请扫描" type="text" class="mui-input" style="width: 54%;float: left;">
					<button type="button" id="order_detail" style="width:10%; height: inherit;" class="mui-btn-primary">...</button>
				</div>
				<div class="mui-input-row ">
					<label>完工类型</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="selectProces">
								<option value="">请选择</option>
								<option value="工序完工">工序完工</option>
								<option value="工单完工">工单完工</option>
							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row " id="print_row">
					<label>打印类型</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="selectType">
								<option value="">请选择</option>
								<option value="正常标">正常标</option>
								<option value="交接标">交接标</option>
							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row mui-hidden" id="jiaojie_row">
					<label onclick="clicked('commom/saomiao.html','handover','web/siyinu_baogong.html');">交接标</label>
					<input id="handover" placeholder="请扫描" type="text" class="mui-input-clear" style="width: 35%;float: left;">
					<input id="qty" placeholder="数量" type="text" class="mui-input-clear" disabled style="width: 30%;">
				</div>
				<div class="mui-input-row">
					<label>是否尾数</label>
					<div class="mui-switch" id="weishu_switch">
						<div class="mui-switch-handle"></div>
					</div>
				</div>
				<div class="mui-input-row">
					<label>丝印规格</label>
					<input id="siyin_format" type="text" class="mui-input-clear">
				</div>
				<div class="mui-input-row ">
					<label>产品类型</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="selectProType">

							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row ">
					<label>丝印工序</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="selectId">

							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row">
					<label onclick="clicked('commom/saomiao.html','lingban','web/siyinu_baogong.html');">领班工号</label>
					<input id="lingban" placeholder="请扫描" type="text" class="mui-input-clear" style="width: 35%;float: left;">
					<input disabled type="text" class="mui-input-clear" style="width: 30%;background-color: #F5F5F5;">
				</div>
				<div class="mui-input-row">
					<label>产品穴数</label>
					<input id="count" type="text" class="mui-input-clear">
				</div>

				<div class="mui-input-row ">
					<label>丝印网数</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="select_nets">

							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row">
					<label>报工数量</label>
					<input id="total" placeholder="请输入报工数量" type="text" class="mui-input-clear">
				</div>
				<div class="mui-input-row">
					<label>生成条码</label>
					<input id="bar_code" style="color: #959595;" disabled type="text" class="mui-input-clear">
				</div>
			</form>
			<div class="mui-content-padded" align="center">
				<button type="button" class="mui-btn mui-btn" id="siyin_record">丝印记录</button>
				<button style="margin-top: 0.625rem;" type="button" class="mui-btn mui-btn-green" id="print">打印</button>
				<button style="margin-top: 0.625rem;" type="button" class="mui-btn mui-btn-warning" id="reprint">重新打印</button>
				<button style="margin-top: 0.625rem;" type="button" class="mui-btn mui-btn-primary" id="his_record">历史记录</button>
			</div>
		</div>

		<script type="text/javascript" charset="utf-8">
			mui.init();
			var pl_datalist = [];
			window.addEventListener("changeBar", function(e) {
				var inputId = e.detail.inputId
				document.getElementById(inputId).value = e.detail.barcode
			});
			mui.plusReady(function() {
				mui('#print_row').on('change', 'select', function() {
					if (this.value == '正常标') {
						document.getElementById('jiaojie_row').classList.remove('mui-hidden');
					} else {
						document.getElementById('jiaojie_row').classList.add('mui-hidden');
					}
				});
				try {
					var main = plus.android.runtimeMainActivity();
					var BluetoothAdapter = plus.android.importClass("android.bluetooth.BluetoothAdapter");
					var UUID = plus.android.importClass("java.util.UUID");

					uuid = UUID.fromString("00001101-0000-1000-8000-00805F9B34FB");
					var BAdapter = BluetoothAdapter.getDefaultAdapter();
					BAdapter.cancelDiscovery(); //停止扫描  

					// var addres_mac = plus.storage.getItem("DC:1D:30:3F:D2:50");//传入打印机mac地址  
					var address_mac = api_localStorageGet("printMac") ? api_localStorageGet("printMac") : "00:00:05:D7:49:50";
					device = BAdapter.getRemoteDevice(address_mac);
					plus.android.importClass(device);

					bluetoothSocket = device.createInsecureRfcommSocketToServiceRecord(uuid);
					plus.android.importClass(bluetoothSocket);
				} catch (err) {
					// alert(err);
					console.log(err);
					plus.ui.toast("蓝牙连接异常！");
				}
				mask = mui.createMask(function() { //遮罩层callback事件
					if (byId("siyinRecordDialog").style.display == "none"||byId("selectDialog").style.display == "none") {
						return true; //如果没有弹出框，关闭遮罩层
					}
					return false; //返回true,点击关闭mask
				}); /*创建蒙版，保存到mask中*/
				getSelectNet(); //获取丝印网数
				getSelectProType(); //获取产品类型
			});
			//遮罩层
			function showMask() { /*绑定处理事件*/
				top_value = $(document).scrollTop() //document.documentElement.scrollTop
				document.body.style.overflow = "hidden"
				document.body.style.width = "100%"
				document.body.style.height = "100%"
				document.body.style.position = "fixed"
				mask.show(); /*调用展示遮罩*/
			}

			function closeMask() { /*绑定处理事件*/
				document.body.style.overflow = "scroll"
				document.body.style.width = "100%"
				document.body.style.height = "100%"
				document.body.style.position = "relative"
				window.scrollTo(0, top_value); //回到原位置
				mask.close(); /*调用展示属性*/
			}


			$("#print").click(function() { //打印点击事件
				var paramInfo = "";
				mui('#print').button('loading');
				for (var p = 0; p < pl_datalist.length; p++) {
					paramInfo += pl_datalist[p].net + "@" + pl_datalist[p].quantity + "@" + pl_datalist[p].siyin_pl + "@" +
						pl_datalist[p].iqc_pl + "$"
				}
				if (paramInfo.length > 0) { //去掉最后一个$
					paramInfo = paramInfo.substr(0, paramInfo.length - 1);
				} else {
					mui("#print").button('reset');
					mui.alert("丝印记录为空")
					return false;
				}
				//console.log(paramInfo)
				if ($("#line_code").val() == "" || $("#selectProces").val() == "" || $("#select_nets").val() == "" ||
					$("#selectType").val() == "" || $("#order").val() == "" || $("#selectId").val() == "" || $("#total").val() == "" ||
					$("#lingban").val() == "" || $("#count").val() == "" || $("#selectProType").val() == "") {
					mui("#print").button('reset');
					mui.alert("请完善数据！")
				} else {
					checkClassType(paramInfo);
				}
			})

			function checkClassType(sy_record) { //班次验证
				var weishu = "";
				var isActive = byId("weishu_switch").classList.contains("mui-active");
				if (isActive) {
					weishu = "1"
				} else {
					weishu = "0"
				}
				jQueryWeb("PDA_CHECK_CLASSTYPE", {
					"ClassType": $("input[name='radio1']:checked").val()
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						var data = JSON.stringify(json_obj)
						if (data.substring(0, 1) != "{") {
							//console.log("no null")
							var btnArray = ['否', '是'];
							mui.confirm(data, '提示', btnArray, function(e) {
								if (e.index == 1) {
									printInfo(weishu, sy_record)
								} else {
									mui("#print").button('reset');
								}
							})
						} else {
							printInfo(weishu, sy_record)
							//console.log(" null")
						}
					}
				});
			}

			function printInfo(weishu, sy_record) {
				jQueryWeb("PDA_YS_PRINT_01", {
					"inClassType": $("input[name='radio1']:checked").val(), //班次
					"inWGtype": $("#selectProces").val(), //完工类型
					"inPrintType": $("#selectType").val(), //打印类型
					"inJJbarCode": $("#handover").val(), //交接标
					"inISws": weishu, //是否尾数
					"inMo": $("#order").val(), //工单
					"inProcCode": $("#selectId").val(), //烧录工序
					"inLineCode": $("#line_code").val(), //线体编码
					"inLbCode": $("#lingban").val(), //领班工号
					"inQTY": $("#total").val(), //总数量
					"inUser": api_localStorageGet("code"), //用户账号
					"inITEMTYPE": $("#selectProType").val(), //产品类型
					"inXhol": $("#count").val(), //产品穴数
					"inSYWS": $("#select_nets").val(), //丝印网数
					"inSYCONTEXT": sy_record //丝印记录
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						console.log(json_obj)
						var data_list = JSON.parse(json_obj)
						if (data_list[0].VALUE == "true") {
							console.log(json_obj)
							var barcode_data = sortData(data_list);
							$("#bar_code").val(barcode_data);
							toClear(); //清除页面
						} else {
							mui.alert(data_list[1].VALUE);
						}
					} else {
						mui.alert("PDA_YS_PRINT_01连接失败")
					}
					mui("#print").button('reset');
				})
			}

			function getSelectNet() {
				jQueryWeb("PDA_SY_GET_SYWS", "", function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						for (var i = 0; i <= json_obj; i++) {
							if (i == 0) {
								$("#select_nets").append("<option value=''>请选择丝印网数</option>");
								$("#siyin_nets").append("<option value=''>请选择丝印网数</option>");
							} else {
								$("#select_nets").append("<option value=" + i + ">" + i + "</option>");
								$("#siyin_nets").append("<option value=" + i + ">" + i + "</option>");
							}
						}
					} else {
						alert("连接PDA_SY_GET_SYWS失败")
					}
				})
			}

			function getSelectProType() {
				jQueryWeb("PDA_SY_GET_ITEMTYPE", "", function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						//console.log(json_obj)
						var data = JSON.parse(json_obj)
						for (var i = 0; i < data.length; i++) {
							if (i == 0) {
								$("#selectProType").append("<option value=''>请选择产品类型</option>");
							}
							$("#selectProType").append("<option value=" + data[i].VALUE + ">" + data[i].VALUE + "</option>");
						}
					} else {
						alert("连接PDA_SY_GET_ITEMTYPE失败")
					}
				})
			}

			function clicked(url, f1, urlId) {
				OpenWindow(f1, url, {
					urlId: urlId,
					inputId: f1
				});
			};
			//弹出框控制
			$("#siyin_record").click(function() { //丝印记录
				document.getElementById("siyinRecordDialog").style.display = "block"
				showMask();
			})

			function closeSiyinRecordDialog() {
				document.getElementById("siyinRecordDialog").style.display = "none"
				closeMask()
			}
			$("#addrecord").click(function() { //添加丝印人员
				document.getElementById("addOperatorDialog").style.display = "block"
			})
			$('#siyin_pl').bind('keyup', function(event) { //获取丝印员工信息
				if (event.keyCode == "13") {
					jQueryWeb("PDA_GET_NAME_BY_CODE", {
						"inWorkCode": $('#siyin_pl').val(),
						"OnJobCheck": "Y"
					}, function(xmlHttpRequest, statu) {
						if (statu == 'success') {
							var json_obj = $.xml2json(xmlHttpRequest.responseXML);
							$('#siyin_pl').val(json_obj)
						}
					})
				}
			})
			$('#iqc_pl').bind('keyup', function(event) { //获取质检员信息
				if (event.keyCode == "13") {
					jQueryWeb("PDA_GET_NAME_BY_CODE", {
						"inWorkCode": $('#iqc_pl').val(),
						"OnJobCheck": "Y"
					}, function(xmlHttpRequest, statu) {
						if (statu == 'success') {
							var json_obj = $.xml2json(xmlHttpRequest.responseXML);
							$('#iqc_pl').val(json_obj)
						}
					})
				}
			})
			$("#addoperator").click(function() {
				var operator_data = {};
				var net = $("#siyin_nets").val();
				var siyin_quantity = $("#siyin_quantity").val();
				var siyin_pl = $("#siyin_pl").val();
				var iqc_pl = $("#iqc_pl").val()
				if (net == "" || siyin_quantity == "" ||
					siyin_pl == "" || iqc_pl == "") {
					mui.alert("请完善数据")
					return false;
				} else if (siyin_pl.indexOf("NG") != -1 || iqc_pl.indexOf("NG") != -1) {
					mui.alert("请输入正常的工号")
					return false;
				} else if (siyin_pl.indexOf(";") == -1 || iqc_pl.indexOf(";") == -1) {
					mui.alert("请先验证工号")
					return false;
				}
				operator_data["net"] = $("#siyin_nets").val(); //丝印网数
				operator_data["quantity"] = $("#siyin_quantity").val(); //丝印数量
				operator_data["siyin_pl"] = $("#siyin_pl").val(); //丝印员工
				operator_data["iqc_pl"] = $("#iqc_pl").val(); //质检人员
				//console.log(JSON.stringify(operator_data))
				updateOperator(operator_data)
			})

			function updateOperator(operator_data) {

				pl_datalist.push(operator_data);
				document.getElementById('operator_list').innerHTML = template('template', {
					"record": pl_datalist
				});
				$("#siyin_nets").val(""); //丝印网数
				$("#siyin_quantity").val(""); //丝印数量
				$("#siyin_pl").val(""); //丝印员工
				$("#iqc_pl").val(""); //质检人员
				document.getElementById("addOperatorDialog").style.display = "none";
			}

			function deleteItem(index) { //删除质检员记录
				pl_datalist.splice(index, 1);
				document.getElementById('operator_list').innerHTML = template('template', {
					"record": pl_datalist
				});
			}

			function closeAddOperatorDialog() {
				document.getElementById("addOperatorDialog").style.display = "none"
			}
			//切换班次时，重置数据
			$('input[type=radio][name=radio1]').change(function() {
				$("#line_code").val("");
				toClear();
			});
			//线体编码监听内容（逐字符监听），内容改变重置数据
			$('#line_code').bind('input propertychange', function() {
				toClear();
			});
			//监听线体编码——扫描回车
			$('#line_code').bind('keyup', function(event) {
				if (event.keyCode == "13") { //输入回车执行
					jQueryWeb("PDA_SY_GET_LINEINFO", {
						"inLine_NO": $('#line_code').val()
					}, function(xmlHttpRequest, statu) {
						if (statu == 'success') {
							var json_obj = $.xml2json(xmlHttpRequest.responseXML);
							$('#line_code').val(json_obj);
						} else {
							alert("连接PDA_SY_GET_LINEINFO失败")
						}
					})
				}
			});
			//监听工单——扫描回车
			$('#order').bind('keyup', function(event) {
				if (event.keyCode == "13") { //输入回车执行
					$("#selectId").val("");
					$("#selectId").empty();
					$('#lingban').val("");
					jQueryWeb("PDA_SY_GET_INFO_BY_MO_01", {
						"inClassType": $('input[name="radio1"]:checked').val(), //班次
						"inLineNo": $('#line_code').val(), //线体编码
						"inMo": $('#order').val() //工单
					}, function(xmlHttpRequest, statu) {
						if (statu == 'success') {
							var json_obj = $.xml2json(xmlHttpRequest.responseXML);
							var data = JSON.parse(json_obj)
							//console.log(json_obj)
							for (var i = 0; i < data.length; i++) {
								if (data[i].ITEM == "工单") {
									$('#order').val(data[i].VALUE);
								} else if (data[i].ITEM == "工序") {
									var selectValue = data[i].VALUE;
									if (selectValue.indexOf("没有") != -1) { //此品号无该工序时，NG
										$("#selectId").append("<option>" + selectValue + "</option>");
										$("#selectId").val(selectValue); //显示ng
									} else if (selectValue == "") { //工序为空时
										$("#selectId").append("<option value=" + selectValue + ">请点击选择工序</option>");
										$("#selectId").val(selectValue); //显示“请选择”
									}
								} else if (data[i].ITEM == "工序_下拉") {
									$("#selectId").append("<option value=" + data[i].VALUE + ">" + data[i].VALUE + "</option>");
								} else if (data[i].ITEM == "领班工号") {
									$('#lingban').val(data[i].VALUE);
									var lingban = data[i].VALUE;
									if (lingban != "") {
										lingban = lingban.substring(0, lingban.indexOf(";"));
										getLingBan(lingban);
									}
								} else if (data[i].ITEM == "完工类型") {
									var proces = data[i].VALUE;
									$("#selectProces").val(proces);
								} else if (data[i].ITEM == "产品穴数") {
									$("#count").val(data[i].VALUE);
								} else if (data[i].ITEM == "丝印网数") {
									$("#select_nets").val(data[i].VALUE);
								} else if (data[i].ITEM == "丝印规格") {
									$("#siyin_format").val(data[i].VALUE);
								} else if (data[i].ITEM == "产品类型") {
									$("#selectProType").val(data[i].VALUE);
								}
							}
						} else {
							alert("PDA_SL_GET_INFO_BY_MO_01连接失败")
						}
					})
				}
			});
			//监听交接标——扫描回车
			$('#handover').bind('keyup', function(event) {
				if (event.keyCode == "13") { //输入回车执行
					jQueryWeb("PDA_SY_HANDOVER_01", {
						"inHANDOVER_NO": $('#handover').val()
						// "inHANDOVER_NO": "MES20200819-00001"
					}, function(xmlHttpRequest, statu) {
						if (statu == 'success') {
							var json_obj = $.xml2json(xmlHttpRequest.responseXML);
							var data = JSON.parse(json_obj)
							$('#handover').val(data[0].VALUE);
							$('#qty').val(data[1].VALUE);
						} else {
							alert("连接PDA_SY_HANDOVER_01失败")
						}
					})
				}
			});
			//查看工单工序
			$("#order_detail").click(function() {
				var order_data = $('#order').val();
				if (order_data == "") {
					mui.alert("请添加工单")
					return false;
				}
				jQueryWeb("GetMoProcInfo", {
					"Mo": order_data
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						var data = json_obj.diffgram.DocumentElement;
						console.log(JSON.stringify(data))
						if (data != undefined) {
							var listData = [];
							var th_data = {};
							th_data["序号"] = "序号";
							th_data["工序"] = "工序";
							th_data["标准人力"] = "标准人力";
							th_data["标准时产"] = "标准时产";

							if (JSON.stringify(data.table01).toString().substring(0, 1) == '{') {
								listData = [data.table01];
								listData.unshift(th_data);
							} else {
								listData = data.table01;
								listData.unshift(th_data); //往数组首位添加数据
							}
							document.getElementById('pro_list').innerHTML = template('pr-template', {
								"record": listData
							});
							byId("procesDialog").style.display = "block"
						} else {
							mui.alert("无记录")
						}
					} else {
						mui.alert("GetMoProcInfo连接失败")
					}
				})
			});
			$('#lingban').bind('keyup', function(event) { //扫描得领班工号
				if (event.keyCode == "13") { //输入回车执行
					var lingban = $('#lingban').val();
					if (lingban.indexOf(";") != -1) {
						lingban = lingban.substring(0, lingban.indexOf(";"));
					}
					getLingBan(lingban)
				}
			});

			function getLingBan(ling_ban) { //获取领班信息
				jQueryWeb("PDA_GET_LBINFO", {
					"inLbWorkCode": ling_ban,
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						var data = JSON.parse(json_obj)
						$('#lingban').val(data[0].VALUE);
					}
				})
			}
			//工序改变清空报工数量
			$("#selectId").change(function() {
				$("#total").val("");
			})

			$("#his_record").click(function() { //历史记录查询
				showMask();
				$("#select_usr").val(api_localStorageGet("code"))
				var date_data = CurentTime()
				$('[name=se_time]').val(date_data); //时间
				byId("selectDialog").style.display = "block";
			});

			function closeSelectDialog() { //关闭查询弹窗
				document.getElementById('selectDialog').style.display = 'none';
				closeMask();
			}

			function CurentTime() {
				var now = new Date();

				var year = now.getFullYear(); //年
				var month = now.getMonth() + 1; //月
				var day = now.getDate(); //日

				var hh = now.getHours(); //时
				var mm = now.getMinutes(); //分

				var clock = year + "-";
				if (month < 10)
					clock += "0";
				clock += month + "-";
				if (day < 10)
					clock += "0";
				clock += day;
				return (clock);
			}
			$("#search_record").click(function() { //历史记录查询
				var se_time = $('[name=se_time]').val(); //时间
				var se_order = $('[name=se_order]').val(); //工单
				var se_code = $('[name=se_code]').val(); //条码
				var se_usr = $('[name=se_usr]').val(); //用户
				jQueryWeb("PDA_GET_BG_HISTORY", {
					"inType": "丝印",
					"inDate": se_time,
					"inMo": se_order,
					"inBarcode": se_code,
					"inUserCode": se_usr //api_localStorageGet("code")
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						var data = json_obj.diffgram.NewDataSet;
						//console.log(JSON.stringify(data))
						if (data != undefined) {
							var listData = [];
							if (JSON.stringify(data.Table).toString().substring(0, 1) == '{') {
								listData = [data.Table]
							} else {
								listData = data.Table
							}
							document.getElementById('resultlist').innerHTML = template('result-template', {
								"record": listData
							});
							byId("resultDialog").style.display = "block"
						} else {
							mui.alert("无历史记录");
						}
					} else {
						mui.alert("PDA_GET_BG_HISTORY 连接失败")
					}
				})
			});
			//重新打印查询记录
			function reprintRecord(item) {
				item = [item];
				var data = JSON.parse(item)
				var param = data.条码;
				getReprintData(param);
				byId("resultDialog").style.display = "none"; //关闭查询结果弹窗
				document.getElementById('resultlist').innerHTML = template('result-template', {
					"record": [] //清空记录
				});
			}
			$("#reprint").click(function() { //重新打印
				if ($("#bar_code").val() == "" || $("#bar_code").val() == undefined) {
					mui.alert("无打印记录");
					return false;
				}
				var param = $("#bar_code").val();
				var btnArray = ['否', '是'];
				mui.confirm("重新打印标签" + param, '提示', btnArray, function(e) {
					if (e.index == 1) {
						getReprintData(param);
					}
				})
			})

			//重新获取标签信息
			function getReprintData(barcode_data) {
				jQueryWeb("PDA_GET_PRINT_INFO_BY_BARCODE", {
					"BARCODE": barcode_data,
					"JsonContext": ""
				}, function(xmlHttpRequest, statu) {
					if (statu == 'success') {
						var json_obj = $.xml2json(xmlHttpRequest.responseXML);
						if (json_obj == "获取条码失败(查找不到条码)") {
							mui.alert(json_obj);
						} else {
							var data_list = JSON.parse(json_obj)
							sortData(data_list);
						}
					}
				})
			}

			function toPrint(list) { //执行蓝牙打印
				try {
					if (!bluetoothSocket.isConnected()) {
						// plus.ui.toast("重新连接");
						bluetoothSocket.connect();
					}
					var outputStream = bluetoothSocket.getOutputStream();
					plus.android.importClass(outputStream);
					//获取内容
					var printCmd = print_datalist(list);
					//console.log(printCmd)
					var arrayBuffer = plus.android.invoke(printCmd, 'getBytes', 'gbk'); //stringToByte(printCmd);  
					outputStream.write(arrayBuffer);
					outputStream.flush();
					mui("#print").button('reset');
					toClear(); //清除页面
				} catch (err) {
					// alert(err);
					console.log(err);
					mui("#print").button('reset');
					toClear(); //清除页面
					plus.ui.toast("蓝牙连接打印机失败！");
					return;
				}
			}

			function toClear() { //清空数据
				pl_datalist = []; //丝印记录清空
				$("#selectProces").val("");
				$("#selectType").val("");
				document.getElementById('jiaojie_row').classList.add('mui-hidden');
				$("#handover").val("");
				$("#qty").val("");
				$("#order").val("");
				$("#siyin_format").val("");
				$("#count").val("");
				$("#select_nets").val("");
				$("#selectProType").val("");
				$("#selectId").val("");
				$("#lingban").val("");
				$("#total").val("");
				document.getElementById("weishu_switch").classList.add("mui-active")
				mui("#weishu_switch").switch().toggle();
				mui("#print").button('reset');
			}
		</script>
	</body>
</html>
